#nav {
    color: white;
}
.logo-style{
    background-color: aliceblue;
}
.search-style{
    width: 400px !important;
    height: 40px;
}
.nav-style{
    color: yellow !important;
    margin-left: 600px;
    font-size: 30px;
}